<div class="pickup-points-search">
    <div class="pickup-points-search-form ui form">
        <div class="pickup-points-input">
            {{ form_start(form, {'attr': {'class': 'search-pickup-point-form'}}) }}
            <div class="search-pickup-point-autocomplete">
                {{ form_label(form.zipCode) }}
                {{ form_widget(form.zipCode, {'attr': {'autocomplete': 'off', 'data-mr-autocomplete': 'true'}}) }}
                {{ form_widget(form.suggestion) }}
                <ul></ul>
            </div>
            {{ form_row(form.types) }}
            <div>
                <button type="button" class="ui icon mini primary button" data-mr-geolocalisation>
                    <i class="icon crosshairs"></i>
                </button>
            </div>
            <button title="{{ 'sylius.mondial_relay.search'|trans }}" type="submit" class="ui primary button">{{ 'sylius.mondial_relay.search'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="pickup-points-map" id="pickup-points-map"></div>
    <div class="pickup-points-search-results">
        <div class="pickup-points-no-results" style="display: none;">{{ 'sylius.mondial_relay.no_result_for_your_search'|trans }}</div>
        <div class="pickup-points-results-list"></div>
        <ul class="pickup-points-pagination"></ul>
    </div>
</div>
